/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Навигация */
  .tabs {
    text-align: center;
    margin: 20px 0;
  }
  
  .tab-button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: #3498db;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .tab-button:hover {
    background-color: #2980b9;
  }
  
  .tab-button.active {
    background-color: #3498db;
    color: white;
  }
  
  /* Стили для контейнера с карточками */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Стили для карточек */
  .person-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  /* Карточка персонажа */
  .person-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Выставляем карточку на всю высоту */
    justify-content: space-between;
    transition: transform 0.3s ease, height 0.3s ease;
  }
  
  .person-card img {
    width: 100%;
    height: 200px;
    object-fit: contain; /* Сохраняем пропорции изображения */
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .person-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .person-card p {
    font-size: 14px;
    color: #555;
  }
  
  .person-card button {
    padding: 10px 15px;
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .person-card button:hover {
    background-color: #2980b9;
  }
  
  .person-card:hover {
    transform: scale(1.05);
  }
  
  /* Стили для отображения подробностей */
  .details {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 15px;
    display: none;
  }
  
  /* Адаптивность для мобильных устройств */
  @media (max-width: 600px) {
    .container {
      display: block;
    }
  }
  